# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Marco Freire
author:
  name: Marco Freire
  email: marco.freire@inria.fr
description: #>-
  Associate professor at Grenoble INP - Ensimag, LJK
baseurl: "" # the subpath of your site, e.g. /blog
url: "https://mfremer.github.io" # the base hostname & protocol for your site, e.g. http://example.com

# Build settings
# theme: minima
plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-polyglot

remote_theme: jekyll/minima@6b9b78d
minima:
  skin: auto
  social_links:
  - { platform: rss, user_url: "/feed.xml" }
  - { platform: github, user_url: "https://github.com/mfremer" }

# Polyglot settings
languages: ["en", "fr"]
default_lang: "en"
exclude_from_localization: ["assets", "javascript", "images", "css", "public"]
parallel_localization: true
# lang_from_path: true

header_pages:
  en:
    - en/research.md
    - en/publications.md
    - en/teaching.md
    - en/software.md
    - en/resume.md
  fr:
    - fr/research.md
    - fr/publications.md
    - fr/teaching.md
#    - fr/for-students.md
    - fr/software.md
    - fr/resume.md

collections:
  publications:
    output: true
    permalink: /:collection/:title

# Exclude from processing.
# The following items will not be processed, by default.
# Any item listed under the `exclude:` key here will be automatically added to
# the internal "default list".
#
# Excluded items can be processed by explicitly listing the directories or
# their entries' file path in the `include:` list.
#
# exclude:
#   - .sass-cache/
#   - .jekyll-cache/
#   - gemfiles/
#   - Gemfile
#   - Gemfile.lock
#   - node_modules/
#   - vendor/bundle/
#   - vendor/cache/
#   - vendor/gems/
#   - vendor/ruby/
